annotated-types==0.7.0
anyio==4.4.0
boto3==1.34.138
botocore==1.34.138
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
distro==1.9.0
dnspython==2.6.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
jmespath==1.0.1
openai==1.35.10
PyAudio==0.2.14
pydantic==2.8.2
pydantic_core==2.20.1
pygame==2.6.0
pymongo==4.7.3
pymongo-auth-aws==1.2.0
python-dateutil==2.9.0.post0
PyYAML==6.0.1
rapidfuzz==3.9.4
redis==5.0.7
requests==2.32.3
s3transfer==0.10.2
simplejson==3.19.2
six==1.16.0
sniffio==1.3.1
spotipy==2.24.0
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==2.2.2
